/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
#review_table {
  width: 100%;
  table-layout: fixed;
}

#review_table td {
  word-wrap: break-word;
}

#review_table .td_like {
  width: 10%;
}

#review_table .th_like {
  width: 9%;
}

th.table_th_id {
  width: 3%;
}

td.table_td_id {
  width: 10%;
}

th.table_th_item {
  width: 10%;
}

td.table_td_item {
  width: 10%;
}
